$gray-bg: #ccc;
$lightgray: #e9ebee;
$blue-bg: #337ab7;
$white-txt: #fff;

body {
	background: $gray-bg;

	.navbar {
		background: $blue-bg;
		border: none;
    	border-radius: 0;

		&-brand {
			color: $white-txt;
		}
	}

	.main {

		.chatbox {
			position: relative;
			border: none;

			&.chat-active {
				height: 300px;
				transition-duration: 0.5s;
			}

			.panel-body {
				padding-top: 0;
			}

			.panel-heading {
				color: $white-txt;
				background: $blue-bg;
			}

			.messages {
				height: 218px;
    			overflow: auto;

    			.message {

    				&.sendermsg {
    					text-align: right;

    					.bubble-msg {
    						background: $blue-bg;
    						color: $white-txt;
    						border-bottom-right-radius: 0;
    						border-bottom-left-radius: 15px;
    					}

    					strong {
    						display: none;
    					}
    				}

    				.bubble-msg {
    					background: $lightgray;
    					display: inline-block;
					    margin: 3px 0;
					    padding: 5px 20px;
					    border-radius: 15px;
					    border-bottom-left-radius: 0;
    				}
    			}
			}

			.msg-form {
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 10px;
			}
		}
	}
}